.react-calendar__tile.highlight {
  background-color: #ffcc00 !important;
  color: #000;
  border-radius: 30%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.react-calendar__tile.no-event {
  cursor: default;
}

.react-calendar__tile.has-event {
  cursor: pointer;
}
.react-calendar__tile.no-event:hover {
  cursor: default !important;
}

.react-calendar {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: auto;

  @media (max-width: 560px) {
    width: 100%;
    min-width: 320px;
  }

  @media (max-width: 1024px) {
    width: 100%;
    max-width: 700px;
  }
}
